// Specific CSS for your home-page

body {
  background-color: white
}

h1 {
  font-family: sofia-pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.05em;
}

h2 {
  font-family: sofia-pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
}

h3 {
  font-family: sofia-pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160px;
  text-align: center;
  letter-spacing: 0.05em;
}

h4 {
  font-family: sofia-pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.05em;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.05em;
}
