<div>
  <% @events.each do |event| %>
    <div class="event-card">
      <h5><%= event.date %></h5>
      <img src="<%= event.photo  %>"/>
      <h3><%= event.title %></h3>
      <%= link_to "show memory", event_path(event) %>
    </div>
    <% end %>
</div>
