.event-wrapper {

}

.first-event {
  position: relative;
  margin-left: 20px;
}

.first-event img {
  width: 70vw;
  border: 3px solid black;
}

.first-event-left {
  position: absolute;
  width: 40vw;
  left: 20px;
  top: 50%;
  transform: translateY(-50px);
}

.first-event-left h4 {
  position: absolute;
  top: 50px;
}

.first-event-right {
  position: absolute;
  right: 20px;
  width: 40vw;
  top: 50%;
  transform: translateY(-50%)
}

.first-event h4 {
  color: $pepe-blue;
}

.first-event h1 {
  color: $pepe-blue;
}

.second-event h1 {
  color: $pepe-green;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.second-event h4 {
  text-decoration: underline;
}

.caption div {
  box-shadow: 0 0 5px #C8C8C8;
  transition: all 0.3s ease 0s;
}

.img-circle {
  border-radius: 50%;
  border: 3px solid black;
  border-radius: 0;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.triangle {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 137px;
    height: 137px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-left: 3px solid black;
    border-top: 3px solid black;
}
