.event-container {
}

.event-row {
}

.event-card {
  background-color: white;
  margin-bottom: 20px;
}

.event-card img {
  width: 95vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
