.form-control-label {
  font-family: sofia-pro;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 40px;
  margin-bottom: 20px;
}

.form-control {
  border: 3px solid black;
  border-radius: 0px;
}

.form-control:focus {
  color: black;
  background-color: $pepe-green;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $pepe-green;
}

#event-date {
  border: 3px solid black;
  border-radius: 0px;
}

#event-date {
  color: black;
  background-color: $pepe-green;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $pepe-green;
}
