.navbar-pepe {
  justify-content: space-between;
  background: white;
  padding: 20px;
}

.navbar-pepe .navbar-collapse {
  flex-grow: 0;
}

.navbar-pepe .navbar-brand img {
  width: 97px;
}

.navbar-toggler {
  border: none;
  cursor: pointer;
}

.navbar-toggler img {
  width: 50px;
  cursor: pointer;
}
