.navbar {
  position: sticky;
  top: 0;
}

.navbar-pepe {
  justify-content: space-between;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-pepe .navbar-collapse {
  flex-grow: 0;
}

.navbar-pepe .navbar-brand img {
  width: 97px;
}

.navbar-toggler {
  border: none;
  cursor: pointer;
}

.navbar-toggler img {
  width: 50px;
  cursor: pointer;
}

.add-event {
  position: fixed;
  bottom:0%;
  width:100%;
  z-index: 1;
}

.add-event img {
  width: 50px;
  float: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}
